<!-- Footer 컨텐츠 -->
<footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
        <!--      Anything you want-->
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy;<a href="#">Kietra</a>.</strong> All rights reserved.
</footer>
