<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="#" class="brand-link">
        <img src="https://png.pngtree.com/element_pic/16/05/30/11574bb301599cc.jpg" alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">DMRent4U-Admin</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex" style="width: 100%;">
            <div class="image" style="float: left; width: 34px; padding: 13px 10px;">
                <img src="<%= photo %>" class="img-circle elevation-2"
                     alt="" style="color: #ffffff">
            </div>
            <div class="info" style="float: left; width: 92px; margin-left: 15px; padding: 17px 10px;">
                <a href="#" id="menu-name" class="d-block"><%= user %></a>
            </div>
            <div style="float: right; display: inline-block; margin-left: 15px;">
                <div>
                    <form action="#" method="post">
                        <button type="submit" class="btn btn-info logout" style="background-color: rgb(114,114,114); border: rgba(0,0,0,3.0);">Logout</button>
                    </form>
                </div>
                <div>
                    <a href="#" id="changePassword" style="font-size: 12px;">비밀번호 변경</a>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item">
                    <!-- send '/starter' request to backend -->
                    <a href="/" class="nav-link">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Home
                        </p>
                    </a>
                </li>

                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-desktop"></i>
                        <p>
                            운영관리
                            <i class="fas fa-angle-left right"></i>
                            <!--                <span class="badge badge-info right">6</span>-->
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/customer" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>고객 리스트</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/card" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>카드 관리</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/account" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>예금계좌 관리</p>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/card" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>예금계좌 거래내역</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

<!-- Control Sidebar -->
<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
</aside>
<!-- /.control-sidebar -->
